extends layout

block content
    .clones
        each clone in clones
            h1.content-subhead= clone.mode
            section.clone
                .clone-title
                    != clone.first.id + ': ' + clone.first.start + '-' + (clone.first.start + clone.linesCount) + '<br/>'
                    = clone.second.id + ': ' + clone.second.start + '-' + (clone.second.start + clone.linesCount)
                .clone-description
                    pre= clone.content


